appdirs==1.4.4
astroid==3.3.2
attrs==24.2.0
autopep8==2.3.1
backoff==2.2.1
certifi==2024.8.30
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
coloredlogs==15.0.1
dill==0.3.8
distlib==0.3.8
filelock==3.16.0
future==1.0.0
humanfriendly==10.0
identify==2.6.1
idna==3.8
iniconfig==2.0.0
lazy-object-proxy==1.10.0
mccabe==0.7.0
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.1
pathspec==0.12.1
platformdirs==4.3.2
pluggy==1.5.0
py==1.11.0
pycodestyle==2.12.1
PyJWT==2.9.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==6.0.2
requests==2.32.3
requests-toolbelt==1.0.0
sentry-sdk==2.14.0
six==1.16.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.13.2
urllib3==2.2.3
virtualenv==20.26.4
webex-bot==0.5.2
webexteamssdk==1.6.1
websockets==11.0.3
wrapt==1.16.0
xmltodict==0.13.0
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
