appdirs==1.4.4
backoff==2.1.2
certifi==2022.6.15
charset-normalizer==2.1.0
coloredlogs==15.0.1
future==0.18.2
humanfriendly==10.0
idna==3.3
pycodestyle==2.9.1
PyJWT==2.4.0
python-dateutil==2.8.2
python-dotenv==0.21.0
PyYAML==6.0
requests==2.28.1
requests-toolbelt==0.9.1
six==1.16.0
toml==0.10.2
urllib3==1.26.11
webex-bot==0.3.3
webexteamssdk==1.6.1
websockets==10.2
xmltodict==0.13.0
