appdirs==1.4.4
astroid==2.15.6
attrs==23.1.0
autopep8==2.0.2
backoff==2.2.1
certifi==2023.5.7
cfgv==3.3.1
charset-normalizer==3.2.0
click==8.1.6
coloredlogs==15.0.1
dill==0.3.6
distlib==0.3.7
filelock==3.12.2
future==0.18.3
humanfriendly==10.0
identify==2.5.24
idna==3.4
iniconfig==2.0.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==23.1
pathspec==0.11.1
platformdirs==3.9.1
pluggy==1.2.0
py==1.11.0
pycodestyle==2.10.0
PyJWT==2.8.0
pyparsing==3.1.0
python-dateutil==2.8.2
python-dotenv==1.0.0
PyYAML==6.0.1
requests==2.31.0
requests-toolbelt==1.0.0
six==1.16.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
urllib3==2.0.3
virtualenv==20.24.0
webex-bot==0.4.0
webexteamssdk==1.6.1
websockets==10.2
wrapt==1.15.0
xmltodict==0.13.0
